{% extends "base.html" %}

{% block content %}
<h2>Add Item</h2>

<form method="POST">
    <div class="mb-3">
        <label>Name</label>
        <input class="form-control" name="name" required>
    </div>

    <div class="mb-3">
        <label>Stock</label>
        <input type="number" class="form-control" name="stock" required>
    </div>

    <div class="mb-3">
        <label>Price</label>
        <input type="number" class="form-control" name="price" required>
    </div>

    <div class="mb-3">
        <label>Avg Daily Sales</label>
        <input type="number" class="form-control" name="avg_daily_sales" required>
    </div>

    <button class="btn btn-primary">Save</button>
</form>

{% endblock %}
