{% extends "base.html" %}

{% block content %}
<div class="panel">

    <h2 style="color:#0a1b3d; margin-bottom:15px;">Add New Item</h2>

    <form method="POST">
        <label>Item Name</label>
        <input type="text" name="name" placeholder="Item Name" required>

        <label>Stock Quantity</label>
        <input type="number" name="stock" placeholder="Stock Quantity" required>

        <label>Average Daily Use</label>
        <input type="number" step="0.01" name="avg_per_day" placeholder="Average per day" required>

        <label>Expiry Date</label>
        <input type="date" name="expiry_date" required>

        <label>Reorder Threshold</label>
        <input type="number" name="threshold" placeholder="Optional">

        <button type="submit" style="width:100%; margin-top:10px;">Add Item</button>
    </form>

</div>
{% endblock %}
